OutFiles/*
!OutFiles/disc_0*
!OutFiles/disc_50*
!OutFiles/disc_100*
!OutFiles/disc_300*
!OutFiles/disc_500*
!OutFiles/bulge_0*
!OutFiles/bulge_50
!OutFiles/bulge_100*
!OutFiles/bulge_300*
!OutFiles/bulge_500*
!OutFiles/HALO_0*
!OutFiles/HALO_50*
!OutFiles/HALO_100*
!OutFiles/HALO_300*
!OutFiles/HALO_500*
!OutFiles/satellite_0*
!OutFiles/satellite_50*
!OutFiles/satellite_100*
!OutFiles/satellite_300*
!OutFiles/satellite_500*
.env
.venv
/*.exe
/*.lib
/*.exp
.vscode/